@tailwind base
@tailwind components
@tailwind utilities
@import "./variables"
@import "./toggle"
@import "./utilities"
// @import "./animations"
// @import "./scrollbar"
// @import "./buttons"
@import "./nav"
@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Poppins&family=Assistant&family=Roboto+Mono&family=Lobster&family=Space+Grotesk:wght@500&display=swap")

// font-family: 'Lustria', serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Assistant', sans-serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Space Grotesk', sans-serif;
// font-family: 'Lobster', sans-serif;

// .ae-intro-text {
//     text-shadow: $light-green 4px 4px;
//     letter-spacing: 5px;
//     text-shadow: 4px 4px 0 $light-green, 6px 6px 0 $dark-green;
// }

body
    // overflow-y: hidden /* Hide vertical scrollbar */
    overflow-x: hidden /* Hide horizontal scrollbar */
    --clr-primary: #ffffff
    --clr-secondary: #65a30d
    --clr-white: #fff
    --ff-primary: 'Roboto', sans-serif
    --ff-secondary: 'Open Sans', sans-serif

/* width */
::-webkit-scrollbar
    width: 0.01px
    color: $light-green

/* Track */
// ::-webkit-scrollbar-track
//     background: #000
//     padding: 5px
//     margin-top: 2px
//     margin-bottom: 2px

/* Handle */
::-webkit-scrollbar-thumb
    background: rgb(101 163 13)
    border-radius: 9999px

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: $light-green

.ae-nav
    background-color: rgba($color: #000000, $alpha: 0.7)

.ae-b-green
    border-color: $logo-green

// .ae-links
//     text-shadow: 4px 4px 0 $light-green

.ae-letters
    text-shadow: 2px 2px 0 $logo-green, 0 -2px 0 $logo-green
    font-family: "Space Grotesk", sans-serif

.ae-title-letters
    text-shadow: 2px 2px 0 $light-green
    font-family: "Lustria", sans-serif

.ae-nav-btn
    position: absolute
    right: 10px
    top: 7px
    padding: 5px
    color: #fff
    font-size: 30px

.ae-blog-title
    text-shadow: 2px 3px $dark-green
    font-family: "Roboto Mono", monospace
    cursor: default

.ae-blog-header
    text-shadow: 1px 1px $med-green
    font-family: "Space Grotesk", sans-serif
    cursor: default

.ae-mobile-menu
    z-index: 1000

.ae-project-card
    z-index: -10

.ae-text-outline
    text-shadow: -2px 0 $light-green, 0 -2px $light-green, 2px 0 $light-green, 0 2px $light-green
    font-family: "Space Grotesk", sans-serif
    cursor: default

    &-small
        text-shadow: -1px 0 $light-green, 0 -1px $light-green, 1px 0 $light-green, 0 1px $light-green
        cursor: default

.ae-name
    text-shadow: -0.5px 0 $light-green, 0 -0.5px $light-green, 0.5px 0 $light-green, 0 0.5px $light-green
    font-size: 38px

.ae-space
    font-family: "Space Grotesk", sans-serif

.ae-lust
    font-family: "Lustria", serif

.ae-pop
    font-family: "Poppins", sans-serif

.ae-ranch
    font-family: "Rancho", cursive

.ae-robot
    font-family: "Roboto Mono", monospace

.ae-text-outline-small-dark
    text-shadow: -1px 0 $dark-green, 0 -1px $dark-green, 1px 0 $dark-green, 0 1px $dark-green
    font-family: "Space Grotesk", sans-serif
    cursor: default

.ae-new-post-head
    text-shadow: 3px 2px $dark-teal
    font-family: "Space Grotesk", sans-serif

.ae-scale
    &:hover
        scale: 1.03
        // transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        //     rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
        //     skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
        //     scaleY(var(--tw-scale-y));

.ae-max-w
    max-width: calc( 100vw - 32px )

.ae-icon-grad
    fill: radial-gradient($light-green, $dark-green)

// @media screen and (max-width: 768px) {
//     .ae-nav-menu {
//         display: flex;
//         flex-direction: column;
//         width: 100%;
//         border-top: 1pxsolid #fff;
//         position: absolute;
//         top: 80px;
//         left: -110%;
//         opacity: 1;
//         transition: all 0.5s ease;
//     }

//     .ae-nav-menu.active {
//         background: #1f5156;
//         left: 0px;
//         opacity: 1;
//         transition: all 0.5s ease;
//         z-index: 1;
//     }

//     .ae-nav-btn {
//         // removes default border on button element
//         display: block;
//         color: white;
//         :hover {
//             background-color: #2642af;
//         }
//     }
//     .ae-nav-links {
//         display: block;
//     }
// }

.ae-blog-card
    margin: 55px

#load
    position: absolute
    width: 600px
    height: 36px
    left: 50%
    top: 40%
    margin-left: -300px
    overflow: hidden
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    cursor: default

    div
        position: absolute
        width: 20px
        height: 36px
        opacity: 0
        font-family: Helvetica, Arial, sans-serif
        animation: move 2s linear infinite
        -o-animation: move 2s linear infinite
        -moz-animation: move 2s linear infinite
        -webkit-animation: move 2s linear infinite
        transform: rotate(180deg)
        -o-transform: rotate(180deg)
        -moz-transform: rotate(180deg)
        -webkit-transform: rotate(180deg)
        color: $light-green

        &:nth-child(2)
            animation-delay: 0.2s
            -o-animation-delay: 0.2s
            -moz-animation-delay: 0.2s
            -webkit-animation-delay: 0.2s

        &:nth-child(3)
            animation-delay: 0.4s
            -o-animation-delay: 0.4s
            -webkit-animation-delay: 0.4s
            -webkit-animation-delay: 0.4s

        &:nth-child(4)
            animation-delay: 0.6s
            -o-animation-delay: 0.6s
            -moz-animation-delay: 0.6s
            -webkit-animation-delay: 0.6s

        &:nth-child(5)
            animation-delay: 0.8s
            -o-animation-delay: 0.8s
            -moz-animation-delay: 0.8s
            -webkit-animation-delay: 0.8s

        &:nth-child(6)
            animation-delay: 1s
            -o-animation-delay: 1s
            -moz-animation-delay: 1s
            -webkit-animation-delay: 1s

        &:nth-child(7)
            animation-delay: 1.2s
            -o-animation-delay: 1.2s
            -moz-animation-delay: 1.2s
            -webkit-animation-delay: 1.2s

@keyframes move
    0%
        left: 0
        opacity: 0

    35%
        left: 41%
        -moz-transform: rotate(0deg)
        -webkit-transform: rotate(0deg)
        -o-transform: rotate(0deg)
        transform: rotate(0deg)
        opacity: 1

    65%
        left: 59%
        -moz-transform: rotate(0deg)
        -webkit-transform: rotate(0deg)
        -o-transform: rotate(0deg)
        transform: rotate(0deg)
        opacity: 1

    100%
        left: 100%
        -moz-transform: rotate(-180deg)
        -webkit-transform: rotate(-180deg)
        -o-transform: rotate(-180deg)
        transform: rotate(-180deg)
        opacity: 0

@-moz-keyframes move
    0% 
    left: 0
    opacity: 0

    35% 
    left: 41%
    -moz-transform: rotate(0deg)
    transform: rotate(0deg)
    opacity: 1

    65% 
    left: 59%
    -moz-transform: rotate(0deg)
    transform: rotate(0deg)
    opacity: 1

    100% 
    left: 100%
    -moz-transform: rotate(-180deg)
    transform: rotate(-180deg)
    opacity: 0

@-webkit-keyframes move
    0% 
    left: 0
    opacity: 0

    35% 
    left: 41%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
    opacity: 1

    65% 
    left: 59%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
    opacity: 1

    100% 
    left: 100%
    -webkit-transform: rotate(-180deg)
    transform: rotate(-180deg)
    opacity: 0

@-o-keyframes move
    0% 
    left: 0
    opacity: 0

    35% 
    left: 41%
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    opacity: 1

    65% 
    left: 59%
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    opacity: 1

    100% 
    left: 100%
    -o-transform: rotate(-180deg)
    transform: rotate(-180deg)
    opacity: 0

// blob 1 cotton candy
.mp-cc1
    width: 40%
    height: 40%
    background-size: cover
    background-position: center center
    background-repeat: repeat
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CradialGradient id=%22c%22 r=%22100%25%22 cx=%2250%25%22 cy=%2249%25%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2300DBDE%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fc00ff%22%2F%3E%3C%2FradialGradient%3E%3CclipPath id=%22b%22%3E%3Cpath fill=%22currentColor%22 d=%22M711 552q-88 52-109 230t-130 66.5Q363 737 253 683.5t-70-169Q223 399 277 303t177.5-171.5Q578 56 617 212.5t110.5 222Q799 500 711 552Z%22%2F%3E%3C%2FclipPath%3E%3Cfilter id=%22a%22 x=%22-50vw%22 y=%22-50vh%22 width=%22100vw%22 height=%22100vh%22%3E%3CfeFlood flood-color=%22%23fff%22 result=%22neutral-gray%22%2F%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22%2F%3E%3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22%2F%3E%3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E%3CfeFuncA type=%22table%22 tableValues=%220 0 0.1 0%22%2F%3E%3C%2FfeComponentTransfer%3E%3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg filter=%22url(%23a)%22 clip-path=%22url(%23b)%22%3E%3Cpath fill=%22url(%23c)%22 d=%22M711 552q-88 52-109 230t-130 66.5Q363 737 253 683.5t-70-169Q223 399 277 303t177.5-171.5Q578 56 617 212.5t110.5 222Q799 500 711 552Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")

.ae-grad-dark-bg
    // we want a radial gradiant starting with a soft gray color at the bottom middle of the screen and slowly transitioning to black at the top of the screen
    background: radial-gradient(circle, rgba(54, 54, 54, 0.74) 0%, rgba(2, 2, 2, 0.705) 100%)

.ae-grad-light-bg
    // background: radial-gradient(circle, rgba(27, 27, 27, 0.74) 0%, rgba(2, 2, 2, 0.705) 100%)
    // reverse this gradiant
    background: radial-gradient(circle, rgb(240, 238, 238) 0%, rgb(255, 255, 255) 100%)

.ae-dashed-circle
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='lime' stroke-width='7' stroke-dasharray='6%2c8 5%2c3 0' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e")

// .skill-tag-cloud
//     background: radial-gradient(circle, rgba(255,255,255,0) 50%, rgba(0,0,0,0.1) 100%)

.ae-borderdash
    border-color: #82fa5f

@keyframes fadeInSpread
    0%
        opacity: 0
        transform: scale(0.95) translateY(-20px)

    100%
        opacity: 1
        transform: scale(1) translateY(0)

@keyframes fadeOutGather
    0%
        opacity: 1
        transform: scale(1) translateY(0)

    100%
        opacity: 0
        transform: scale(0.95) translateY(-20px)

.animate-fade-in-spread
    animation: fadeInSpread 0.5s ease-out forwards

.animate-fade-out-gather
    animation: fadeOutGather 0.5s ease-out forwards
    pointer-events: none
